.box{
    width: 100px;
    height: 100px;
    display: inline-flex;
    margin-right: 20px;
}
.red{
    width: 100px;
    height: 100px;
    background: red;
}
.green{
    width: 100px;
    height: 100px;
    background: green;
}

.blue{
    width: 100px;
    height: 100px;
    background: blue;
}